{{ $style := resources.Get "/scss/admonition.scss" | resources.ExecuteAsTemplate "/scss/admonition.scss" . | css.Sass (dict "targetPath" "css/admonition.css" "outputStyle" "compressed" "enableSourceMap" "true") | resources.Fingerprint "sha512" }}
<link type="text/css" rel="stylesheet" href={{ $style.Permalink }} integrity="{{ $style.Data.Integrity }}" />

{{ $style := resources.Get "/scss/custom.scss" | resources.ExecuteAsTemplate "/scss/custom.scss" . | css.Sass (dict "targetPath" "css/custom.css" "outputStyle" "compressed" "enableSourceMap" "true") | resources.Fingerprint "sha512" }}
<link type="text/css" rel="stylesheet" href={{ $style.Permalink }} integrity="{{ $style.Data.Integrity }}" />

{{ partial "google_analytics.html" . }}